
.-container {
	
	@include media-breakpoint-up(sm) {
		max-width: map-get($container-max-widths, "sm");
	}
	
	@include media-breakpoint-up(md) {
		max-width: map-get($container-max-widths, "md");
	}
	
	@include media-breakpoint-up(lg) {
		max-width: map-get($container-max-widths, "lg");
	}
	
	@include media-breakpoint-up(xl) {
		max-width: map-get($container-max-widths, "xl");
	}
	
	width: 100%;
	margin: auto;
}

.-container-sm {
	
	@include media-breakpoint-up(sm) {
		max-width: map-get($container-max-widths, "sm");
	}
	
	@include media-breakpoint-up(md) {
		max-width: map-get($container-max-widths, "md");
	}
	
	@include media-breakpoint-up(lg) {
		max-width: map-get($container-max-widths, "lg");
	}
	
	@include media-breakpoint-up(xl) {
		max-width: map-get($container-max-widths, "xl");
	}
	
	width: 100%;
	margin: auto;
}

.-container-md {
	
	
	@include media-breakpoint-up(md) {
		max-width: map-get($container-max-widths, "md");
	}
	
	@include media-breakpoint-up(lg) {
		max-width: map-get($container-max-widths, "lg");
	}
	
	@include media-breakpoint-up(xl) {
		max-width: map-get($container-max-widths, "xl");
	}
	
	width: 100%;
	margin: auto;
}
.-container-lg {
	
	
	@include media-breakpoint-up(lg) {
		max-width: map-get($container-max-widths, "lg");
	}
	
	@include media-breakpoint-up(xl) {
		max-width: map-get($container-max-widths, "xl");
	}
	
	width: 100%;
	margin: auto;
}

.-container-xl {
	
	@include media-breakpoint-up(xl) {
		max-width: map-get($container-max-widths, "xl");
	}
	
	width: 100%;
	margin: auto;
}