.-heading {
	margin-bottom:  $headings-margin-bottom;
	font-family:    $headings-font-family;
	font-weight:    $headings-font-weight;
	line-height:    $headings-line-height;
	color:          $headings-color;
	letter-spacing: $headings-letter-spacing;
	text-transform: $headings-text-transform;
}


._alpha {
	font-size: $alpha-font-size !important;
}

._beta {
	font-size: $beta-font-size !important;
}

._gamma {
	font-size: $gamma-font-size !important;
}

._delta {
	font-size: $delta-font-size !important;
}

._epsilon {
	font-size: $epsilon-font-size !important;
}

._zeta {
	font-size: $zeta-font-size !important;
}
