<div class="js-carousel-container owl-theme owl-carousel"
     data-items="1"
     data-nav="true"
     data-dots="true"
     data-theme-arrows="true">
	
	<ul class="list-unstyled">
		<li class="js-carousel-item">
			<img src="http://via.placeholder.com/1000x100" alt="">
		</li>
		<li class="js-carousel-item">
			<img src="http://via.placeholder.com/1000x100" alt="">
		</li>
		<li class="js-carousel-item">
			<img src="http://via.placeholder.com/1000x100" alt="">
		</li>
		<li class="js-carousel-item">
			<img src="http://via.placeholder.com/1000x100" alt="">
		</li>
	</ul>
	
	<nav>
		<ul>
			<li>
				<!-- Make this a block to place custom controls-->
				<button class="js-carousel-nav-prev">Prev</button>
			</li>
			<li >
				<!-- Make this a block to place custom controls-->
				<button class="js-carousel-nav-next">Next</button>
			</li>
		</ul>
	</nav>
	<div class="js-carousel-dots">
		<button class="js-carousel-nav-dot owl-dot"></button>
		<button class="js-carousel-nav-dot owl-dot"></button>
		<button class="js-carousel-nav-dot owl-dot"></button>
		<button class="js-carousel-nav-dot owl-dot"></button>
	</div>
</div>