{%- embed "@decorators/carousel/carousel.twig" with {
	data: {
		items: 1,
		nav: false,
		dots: false,
	}
}-%}
	{%- block content %}
		<ul class="">
			
			{%- for i in 0..4 %}
				{%- embed "@decorators/carousel/carousel-item.twig" with {
					tag: "li",
					classes: [],
				}-%}
					{%- block content %}
						<a href="#">
							<img src="http://via.placeholder.com/1000x400" alt="">
						</a>
					{% endblock -%}
				{% endembed %}
			{% endfor -%}
		</ul>
	{% endblock -%}
	
	{%- block nav %}
		{%- include "@atoms/carousel-nav/carousel-nav.twig" -%}
	{% endblock -%}
	
	{%- block dots %}
		{%- for i in 0..4 %}
			{%- include "@atoms/carousel-dot/carousel-dot.twig" with {
				index: i
			}-%}
		{% endfor -%}
	{% endblock -%}
{% endembed %}
