{%- embed "@decorators/carousel/carousel.twig" with {
	data: {
		items: 1,
		nav: false,
		dots: false,
	}
}-%}
	{%- block content %}
		<ul class="">
			<li class="js-carousel-item">
				<a href="#"><img src="http://via.placeholder.com/1000x400" alt=""></a>
			</li>
			<li class="js-carousel-item">
				<a href="#"><img src="http://via.placeholder.com/1000x400" alt=""></a>
			</li>
			<li class="js-carousel-item">
				<a href="#"><img src="http://via.placeholder.com/1000x400" alt=""></a>
			</li>
			<li class="js-carousel-item">
				<a href="#"><img src="http://via.placeholder.com/1000x400" alt=""></a>
			</li>
		</ul>
	{% endblock -%}
	
	{%- block nav %}
		{%- include "@atoms/carousel-nav/carousel-nav.twig" -%}
	{% endblock -%}
	
	{%- block dots %}
		{%- include "@atoms/carousel-dot/carousel-dot.twig" with {
			index: 1
		}-%}
		{%- include "@atoms/carousel-dot/carousel-dot.twig" with {
			index: 2
		}-%}
		{%- include "@atoms/carousel-dot/carousel-dot.twig" with {
			index: 3
		}-%}
		{%- include "@atoms/carousel-dot/carousel-dot.twig" with {
			index: 4
		}-%}
	{% endblock -%}
{% endembed %}
